<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Dictation Example </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Dictation Example</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-router-link color="success" href="/firebase"
        >Firebase CRUD</ion-router-link
    >

    <div id="container">
        <span *ngIf="isMobile">
            <div *ngIf="data">
                <div
                    class="matches"
                    *ngFor="let match of data.matches; trackBy: trackItems"
                >
                    {{ match }}
                </div>
            </div>

            <ion-button color="success" (click)="startListening()"
                >Listen</ion-button
            >
            <!-- iOS Only -->
            <!-- <ion-button color="danger" (click)="stopListening()">Stop</ion-button> -->
        </span>
    </div>
</ion-content>
