<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Dictation Service </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Dictation Service</ion-title>
        </ion-toolbar>
    </ion-header>

    <nav style="margin: 25px">
        <a routerLink="/firebase">Firebase CRUD</a>
    </nav>

    <div id="container">
        <span *ngIf="isMobile">
            <ion-button
                color="success"
                (click)="dictationService.startListening()"
                >Listen</ion-button
            >
            <div *ngIf="dictationService.utterances" style="margin-top: 50px">
                <div
                    class="matches"
                    *ngFor="let utterance of dictationService.utterances.matches; trackBy: trackItems"
                >
                    {{ utterance }}
                </div>
            </div>
        </span>
    </div>
</ion-content>
