<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Dictation Example </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Dictation Example</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <!-- <div>{{ data.matches }}</div> -->

        <div *ngIf="data">
            <div class="matches" *ngFor="let match of data.matches">
                {{ match }}
            </div>
        </div>

        <ion-button color="success" (click)="startListening()"
            >Listen</ion-button
        >
        <!-- <ion-button color="danger" (click)="stopListening()">Stop</ion-button> -->
    </div>
</ion-content>
